.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
}

.arrow::after {
  content: " ";
  position: absolute;
  top: -12px;
  left: 0;
  width: 10px;
  height: 10px;
  @apply bg-stone-700 shadow-xl;
  transform: rotate(45deg);
}

[data-popper-placement^="top"] > .arrow {
  bottom: -16px;
}
