@import "tailwindcss/base";
@import "./css/fonts.css";
@import "tailwindcss/components";
@import "./css/noListScrollbar.css";
@import "./css/animateRow.css";
@import "./css/tooltip.css";
@import "./css/voicelineItem.css";
@import "./css/searchBar.css";
@import "tailwindcss/utilities";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: always;
    text-rendering: optimizeLegibility;
  }

  html, body, #root {
    height: 100%;
  }
}
