@import "tailwindcss/base";
@import "./css/fonts.css";
@import "tailwindcss/components";
@import "./css/noListScrollbar.css";
@import "./css/tooltip.css";
@import "./css/voicelineItem.css";
@import "tailwindcss/utilities";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    font-smoothing: always;
  }

  html, body, #root {
    height: 100%;
  }
}
